<h2>Welcome to Forms</h2> 
<br>
<form [formGroup]="myFirstFormGroup" >
<input type="text" formControlName="firstName" placeholder="FirstName" (change)="captureInput($event)"/>
<span *ngIf="!this.myFirstFormGroup.get('firstName').valid">Enter Valid First Name</span>
<br>
<input type="number" formControlName="numberForm" placeholder="Amount" (change)="captureInput($event)">
<br>
<select formControlName="selectBox" placeholder="Select One..." (change)="captureInput($event)">
  <option *ngFor="let option of options" value="{{option}}">{{option}}</option>
</select>
</form>
<button [disabled]="!this.myFirstFormGroup.valid" (click)="showFormValue('pratyusha')">Values!!!</button>
<br>
<!-- {{formValue}} -->